<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MessageProvider" type="DesignPatterns.Provider.MessageProviderConfigurationSection, DesignPatterns"/>
	</configSections>
	<MessageProvider DefaultProvider="SqlMessageProvider">
		<Providers>
			<add name="SqlMessageProvider" type="DesignPatterns.Provider.SqlMessageProvider, DesignPatterns" ConnectionPathName="SQLConnection"/>
			<add name="XmlMessageProvider" type="DesignPatterns.Provider.XmlMessageProvider, DesignPatterns" ConnectionPathName="XMLPath"/>
		</Providers>
	</MessageProvider>
	<connectionStrings>
		<add name="SQLConnection" connectionString="server=.;database=db;uid=sa;pwd=sa;"/>
		<add name="XMLPath" connectionString="XmlPath"/>
	</connectionStrings>


	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

</configuration>